@inherits LayoutComponentBase

<div class="page">
@*     <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>

        <div class="top-row px-4">
            <div class="container w-75">
                <div class="row justify-content-between">
                    <div class="col-1 poppins">
                        <a href="/"><p>Kylan.Space</p></a>
                    </div>
                    <div class="col-2 align-self-center">
                        <ol class="list-group list-unstyled list-group-horizontal">
                            <li class=""><a href="/">Home</a></li>
                            <li class=""><a href="/updates">v1.1.0</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
