@page "/about"

<section>
    <div class="container w-75 poppins align-content-center">
        <h3 class="pb-3">Kylan.Space</h3>
        <p class="w-75">Kylan.space has been created as a playground for my learning endeavors. I was thrown into a "trial by fire" for the duration of 2 weeks at work. IIS Server, C#, and .Net is utilized, which I needed to learn quick to be successful in this trial. With that being said, Kylan.Space is my learning environment. Hosted on Windows Server 2022 running IIS Server, created using the Blazor Framework utilizing C# and .Net, This is the playground with a Budget.</p>
    </div>
</section>

@code {

}
