@page "/"

<PageTitle>Home</PageTitle>

<div class="container d-flex justify-content-center">
    <img class="w-15 pt-5" src="img/logoMark.svg" alt="kylan.space logo" />
</div>
<div class="container d-flex justify-content-center">
    <h1 class="pt-5 poppins"><b>Kylan.Space</b></h1>
    <hr />
</div>
<div class="container d-flex justify-content-center">
    <p class="poppins">Created by <a href="https://www.github.com/kylanhall/kylan.space">Kylan</a>. Consider this a playground with a budget.</p>
</div>
