@page "/test"
@rendermode InteractiveServer

@using DBLibrary
@using kylan.space.Models
@using Microsoft.Extensions.Configuration
@inject IDBAccess _data
@inject IConfiguration _config


<section>
    <div class="container justify-content-center">
        <div class="pb-5">
            <!-- <button class="btn btn-primary" @onclick="InsertData">Insert</button>
            <button class="btn btn-warning" @onclick="UpdateData">Update</button> -->
        </div>
        <div class="pb-5">
            <form @formname="AddName" @onsubmit="InsertData">
                <div class="form-group pb-2">
                    <label for="Firstname">First Name</label>
                    <input @bind-value="submitFirstName" type="text" class="form-control" id="FirstName" placeholder="Enter First Name" />
                    <small id="FirstNameHelp" class="form-text text-muted">Type in your first name...</small>
                </div>
                <div class="form-group">
                    <label for="LastName">Last Name</label>
                    <input @bind-value="submitLastName" type="text" class="form-control" id="LastName" placeholder="Enter Last Name" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div>
            @if (names == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">CRUD</th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var n in names)
                {
                    <tr>
                            <th scope="row">@n.Id</th>
                            <td>@n.firstName</td>
                            <td>@n.lastName</td>
                            <td><i class="fa-solid fa-trash" style="color: #c20000;"></i></td>
                    </tr>
                }
                    </tbody>
                </table>
            }
        </div>
    </div>
</section>

@code {
    List<TestingModel> names;

    private string submitFirstName;
    private string submitLastName;

    private async Task InsertData()
    {
        string sql = "INSERT INTO testing (firstName, lastName) VALUE (@firstName, @lastName);";
        await _data.SaveData(sql, new { firstName = submitFirstName, lastName = submitLastName }, _config["Database:ConnectionString"]);
        await OnInitializedAsync();
    }

    private async Task UpdateData()
    {
        string sql = "UPDATE testing set firstName = @firstName where lastName = @lastName;";
        await _data.SaveData(sql, new { firstName = "Pepsi", lastName = "Zero" }, _config["Database:ConnectionString"]);
        await OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        string sql = "SELECT * FROM testing";
        names = await _data.LoadData<TestingModel, dynamic>(sql, new { }, _config["Database:ConnectionString"]);
    }

}
