@page "/Updates"

<section>
    <div class="container w-75 ps-4">
        <h3 class="poppins"><b><a href="https://github.com/Kylanhall/kylan.space/releases/tag/v1.1.0">v1.1.0</a></b></h3>
        <p class="poppins"><i>July 30th, 2025</i></p>
        <ol class="poppins">
            <li><b>ADD:</b> DBLibrary now part of main website codebase, rather than imported Library.</li>
            <li><b>ADD:</b> Created Updates page to track versions and design modifications to main page.</li>
            <li><b>REMOVED:</b> Navigation Sidebar</li>
        </ol>
    </div>
</section>

@code {

}
