@page "/Updates"

<section class="container">
    <div class="ps-4">
        <h3 class="poppins"><b><a href="https://github.com/Kylanhall/kylan.space/releases/tag/v1.2.1">v1.2.1</a></b></h3>
        <p class="poppins"><i>August 31st, 2025</i></p>
        <ol class="poppins">
            <li><b>ADD: </b> Created dedicated Virtual Machine for Database (MySQL).</li>
            <li><b>PATCH:</b> Added Captcha + Input Validation to form... (<b><i>Don't ask</i></b>)</li>
            <li><b>PATCH:</b> Fixed header somewhat on mobile devices.</li>
        </ol>
        <hr />
    </div>
    <div class="ps-4">
        <h3 class="poppins"><b><a href="https://github.com/Kylanhall/kylan.space/releases/tag/v1.2.0">v1.2.0</a></b></h3>
        <p class="poppins"><i>July 30th, 2025</i></p>
        <ol class="poppins">
            <li><b>ADD: </b><a href="/about">About</a> page created and designed.</li>
            <li><b>PATCH:</b> Imported Font with CSS to fix font family on mobile devices. </li>
            <li><b>PATCH:</b> Fixed header somewhat on mobile devices.</li>
        </ol>
        <hr />
    </div>
    <div class="ps-4">
        <h3 class="poppins"><b><a href="https://github.com/Kylanhall/kylan.space/releases/tag/v1.1.0">v1.1.0</a></b></h3>
        <p class="poppins"><i>July 30th, 2025</i></p>
        <ol class="poppins">
            <li><b>ADD:</b> DBLibrary now part of main website codebase, rather than imported Library.</li>
            <li><b>ADD:</b> Created Updates page to track versions and design modifications to main page.</li>
            <li><b>REMOVED:</b> Navigation Sidebar</li>
        </ol>
        <hr />
    </div>
</section>

@code {

}
